
/* reset css */
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* 2 class để set chiều rộng */
main-ful {
    width: 100%;
}

.main-w8 {
    width: 63%;
}

a {
    text-decoration: none;
}

.min-width12 {
    min-width: 1200px;
}

.hand {
    cursor: pointer;
}

/* phần logo và đăng nhập phía trên cùng */
.main-logo_head {
    background: url(../images/header-moi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    width: 100%;
    height: 130px;
    /* margin-top: -1px; */
}

.main-search {
    margin-left: 65%;
}

.main-log {
    display: flex;
    height: 40px;
    flex-direction: row;
}

.main-login {
    min-width: 72px;
}

.main-login:hover {
    color: blue;
}

.main-search_icon {
    /* position: absolute; */
    /* margin-left: -50px; */
    font-size: smaller;
    width: 100%;
    height: 100%;
    margin: auto;
}

.main-log >div {
    margin: 10px 1px auto 1px;
    text-align: center;
}

.main-log >div >input {
    border-radius: 3px;
    width: 100%;
}

/* thanh navigation */
.nav_bar {
    height: 50px;
    background-color: #0c4ca3;
    /* width: 80%; */
    display: flex;
    justify-content: center;
}

.nav_content {
    /* display: flex; */
    /* background-color: red; */
    width: 63%;
    min-width: 1200px;
    height: 100%;
    /* z-index: 100; */
}

/* scroll */
.scroll {
    height: 2000px;
    /* background-color: yellow; */
}

/* icon home ở navigation */
.main-home {
    /* width: 4% !important; */
    font-size: 35px;
    color: white;
    text-align: center;
    height: 50px;
    border-left: 0.2px solid rgba(128, 128, 128, 0.704);
}

.main-home:hover {
    background-color: #094394;
}

.main_nav-select {
    box-sizing: border-box;
}

.main_nav-select >div {
    border-left: 0.2px solid rgba(128, 128, 128, 0.704);
    height: 50px;
    color: white;
}

.hover_nav1:hover {
    background-color:#094394;
}

.hover_nav1:hover > .dropdown-menu{
    display: block;
}

.main-item_nav {
    margin: auto;
    font-weight: 800;
}

.main_nav:hover, .main_nav1:hover {
    cursor: pointer;
    background-color: #094394;
}

.main_nav {
    display: flex;
    position: relative;
}

.main_nav1 {
    display: flex;
    position: relative;
    border-right: 0.2px solid rgba(128, 128, 128, 0.704);
}

/* submenu ở navigation */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
}

.dropdown-menu:hover {
    display: block;
}

.dropdown-menu >li:hover, .sub-menu >li:hover {
    background-color: rgb(55, 140, 231) !important;
    text-decoration: underline;
}

.main_nav >ul {
    border-top: 1px solid white;
}

.dropdown-menu >li {
    /* display: none; */
    /* width: 100%; */
    background-color: #0c4ca3;
    height: 40px;
    border-bottom: 0.3px solid #888888a1;
    list-style-type: none;
}

.sub-menu >li {
    width: 100%;
    background-color: #0c4ca3;
    height: 40px;
    border-bottom: 0.3px solid #888888a1;
    list-style-type: none;
}

.sub-menu >li >div {
    padding-top: 8px;
    /* padding-left: 10px; */
}

.dropdown-menu >li >div {
    padding-top: 8px;
}

.dropdown-sub {
    position: relative;
}

/* ul li {
    list-style-type: none;
} */

.sub-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0px;
    margin-left: 1px;
}

.sub-hover {
    margin-left: 20px
}

.sub-hover:hover ~ .sub-menu{
    display: block;
}

.sub-menu:hover {
    display: block;
}

.a {
    display: flex;
    position: relative;
    margin-left: 20px;
}

/* làm mũi tên ở phần submenu dropdown */
.left-arrow {
	border-color: transparent white;
	border-style: solid;
	border-width: 5px 5px 5px 0px;
	height: 0px;
	width: 0px;
    position: absolute;
    left: -10px;
    top: 14px;
}

.main-button {
    height: 50px;
    width: 100% !important;
}

.main-button:hover {
    background-color: #094394 !important;
    color: white !important;
}

.main-button_dow {
    width: 150% !important;
    box-shadow: 0px 2px 1px 1px #888888;
    background-color: white !important;
    z-index: 100;
}

/* css icon search */
.main-icon_search {
    display: inline-block;
}
.fix {
    margin-left: -25px;
    margin-top: 4px;
}

.main-input {
    height: 40px;
}

.main-input_text {
    border: 1px solid rgba(0, 0, 0, 0.392); width: 100%;
    height: 60%;
}

/* slide bar */
.main-slide_bar {
    height: 420px;
}

.main-slide_content {
    min-width: 1200px;
    height: 350px;
    /* background-color: red; */
    margin: 10px auto;
}

.img-bar {
    width: auto;
    height: 100%;
    border: 2px solid #8888888d;
    border-radius: 4px;
    margin: auto;
}

/* liên kết đến những phòng ban */
.main-foot_bar {
    min-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.main-ads {
    border: 1px solid #6b85b16c;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.main-ads1 {
    border: 1px solid #6b85b16c;
    border-radius: 4px;
    width: 100%;
}

.main-ads:hover {
    opacity: 0.8;
}

.main-ads1:hover {
    opacity: 0.8;
}

.main-br {
    margin-top: 15px;
    height: 10px;
    background-color: #f1f1f2;
}


/* nội dung tin tức */
/* tiêu đề tin tức */
.main-news {
    height: 55px;
}

.main-title_news {
    margin: 1px auto;
    height: 100%;
    border-bottom: 1px solid #ccc7c7;
}

.main-new_item {
    float: left;
    height: 100%;
    color: #094394;
    font-size: 25px;
    font-weight: 800;
    border-bottom: 3px solid #094394;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.main-new_item:hover {
    opacity: 0.8;
}

.main-expand {
    float: right;
    height: 100%;
    width: 100px;
    color: #888888;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
}

.main-expand:hover {
    opacity: 0.8;
}

/* tin tức */
.main-content_news {
    margin: 20px auto;
}

.new-image {
    width: 100%;
}

.fix-img {
    width: 100%;
    height: 192px;
}

.new-title {
    font-weight: 800;
    margin: 6px 0px;
}

.new-title:hover {
    color: #3068b7;
}

.new-content {
    padding:5px 10px;
}

.new-content-child>ul>li:hover {
    color: #3068b7;
}

/* .new-content-child {

} */

.new-link1 {
    margin: 5px 0px 5px 14px;
    font-size: 14px;
    font-weight:normal;
    line-height: 18px;
}

/* liên kết đến các đơn vị công tác */

.list-unit {
    margin: auto;
    height: 62px;
}

.unit-item {
    height: 100%;
    width: 100%;
    border: 1px solid green;
}

.link_slide {
    margin: auto;
    border: 1px solid green;
    height: 62px;
}

/* footer website */
.footer {
    width: 100%;
    height: 315px;
    background-image: url(../images/footer/download.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.foot_content {
    height: auto;
    margin: 20px auto;
}

